# Geocoding using Python
###### Author: Jing Gao
###### 07/20/2022

## Import the required packages and set up the Google Map API

In [1]:
import pandas as pd
import gmaps
import gmaps.datasets

In [2]:
gmaps.configure(api_key='AIzaSyAdc9sJELjXXVlefI5HEwdbqGwIRj4IoEY')

## Import the Coordinates table

In [3]:
Male_Condom_Data = pd.read_csv('Coordinates.csv')
Male_Condom_Data

      latitude  longitude  Condoms_Male
0    40.678673 -73.978943             1
1    40.769634 -73.918579             1
2    40.680157 -73.945183             1
3    40.760635 -73.830658             1
4    40.712303 -73.966919             1
..         ...        ...           ...
679  40.833271 -73.945442             1
680  40.725166 -73.984192             1
681  40.680576 -73.937576             1
682  40.704361 -73.943779             1
683  40.819374 -73.916275             1

[684 rows x 3 columns]

## Get the locations and male condom availability

In [4]:
locations = Male_Condom_Data[['latitude', 'longitude']]
locations

      latitude  longitude
0    40.678673 -73.978943
1    40.769634 -73.918579
2    40.680157 -73.945183
3    40.760635 -73.830658
4    40.712303 -73.966919
..         ...        ...
679  40.833271 -73.945442
680  40.725166 -73.984192
681  40.680576 -73.937576
682  40.704361 -73.943779
683  40.819374 -73.916275

[684 rows x 2 columns]

In [9]:
weights = Male_Condom_Data[['Condoms_Male']]
weights

     Condoms_Male
0               1
1               1
2               1
3               1
4               1
..            ...
679             1
680             1
681             1
682             1
683             1

[684 rows x 1 columns]

## Create the heatmap for male condom availability

In [6]:
fig = gmaps.figure(map_type='HYBRID')
heatmap_layer = gmaps.heatmap_layer(locations)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
from ipywidgets.embed import embed_minimal_html

# Export the map into HTML
embed_minimal_html('Condom_Availability_map.html', views=[fig])

## Create markmap for fake patients using their zipcode

* Note: Latitude and Longitude were converted from patient Address and Zipcode by using Geocodio
* https://www.geocod.io/bulk-convert-zip-codes-to-coordinates/

In [13]:
patients_loc = pd.read_csv('ZIP.csv')
patients_loc

,PID,MRN,Gender,Race,Age,Address,ZIPcode,Latitude,Longitude,Accuracy Score,...,Number,Street,Unit Type,Unit Number,City,State,County,Zip,Country,Source
0,1001,57011,Male,White,25,2425 Grand Avenue,10468,40.862429,-73.903680,1.00,...,2425,Grand Ave,NaN,NaN,Bronx,NY,Bronx County,10468,US,City of New York
1,1002,57012,Female,Asian,37,601 E 20th St,10010,40.733233,-73.975051,1.00,...,601,E 20th St,NaN,NaN,New York,NY,New York County,10010,US,City of New York
2,1003,57013,Female,Black,23,2830 Jackson Ave,11101,40.748600,-73.937793,1.00,...,28-30,Jackson Ave,NaN,NaN,Long Island City,NY,Queens County,11101,US,City of New York
3,1004,57014,Male,Black,19,310 W 55th St,10019,40.765563,-73.984416,1.00,...,310,W 55th St,NaN,NaN,New York,NY,New York County,10019,US,City of New York
4,1005,57015,Female,White,22,179 E 93rd St,10128,40.783685,-73.951485,1.00,...,179,E 93rd St,NaN,NaN,New York,NY,New York County,10128,US,City of New York
5,1006,57016,Male,Hispanic,31,2642 Broadway,10025,40.798664,-73.967778,0.38,...,NaN,NaN,NaN,NaN,New York,NY,New York County,10025,US,TIGER/Line® dataset from the US Census Bureau
6,1007,57017,Female,Asian,52,327 E 116th St,10029,40.796880,-73.937233,1.00,...,327,E 116th St,NaN,NaN,New York,NY,New York County,10029,US,TIGER/Line® dataset from the US Census Bureau
7,1008,57018,Male,Black,44,456 Main St,10044,40.759299,-73.952166,0.90,...,455,Main St,NaN,NaN,New York,NY,New York County,10044,US,City of New York
8,1009,57019,Male,White,28,171 Wyckoff St,11217,40.684789,-73.987292,1.00,...,171,Wyckoff St,NaN,NaN,Brooklyn,NY,Kings County,11217,US,City of New York
9,1010,57020,Female,Hispanic,33,443 Greene Ave,11216,40.688298,-73.953215,1.00,...,443,Greene Ave,NaN,NaN,Brooklyn,NY,Kings County,11216,US,City of New York

In [14]:
patients = patients_loc[['Latitude', 'Longitude']]
patients

    Latitude  Longitude
0  40.862429 -73.903680
1  40.733233 -73.975051
2  40.748600 -73.937793
3  40.765563 -73.984416
4  40.783685 -73.951485
5  40.798664 -73.967778
6  40.796880 -73.937233
7  40.759299 -73.952166
8  40.684789 -73.987292
9  40.688298 -73.953215

In [40]:
fig2 = gmaps.figure(map_type='HYBRID')
marker_layer = gmaps.marker_layer(patients)
fig2.add_layer(marker_layer)
fig2

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Export the map into HTML
embed_minimal_html('fake_patients_loc.html', views=[fig2])

## Combine two maps into one map

In [41]:
fig3 = gmaps.figure(map_type='HYBRID')
fig3.add_layer(marker_layer)
fig3.add_layer(heatmap_layer)
fig3

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Export the map into HTML
embed_minimal_html('Combined_map.html', views=[fig3])